<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Howdy folks! new</h1>
  <p>crazy tacos we have here</p>

  <% tacos=["Carnitas","Avocado","Fish"] %>
  <%= tacos.length %> <!--no puts in embedded html, use = to show to screen. nO SPACES before equal sign-->
  <ul>types:
  <li>cauli</li>
  <li>potato</li>
  </ul>
</body>
</html>